@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.login-intro {
    display: none;
    position: absolute;
    width: 500px;
    padding: 29px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

/* 로그인 인트로 */
.login-intro img {
    width: 138px;
}

.login-intro p {
    line-height: 20px;
    font-weight: 400;
    margin: 28px 0 32px 0;
}

.login-intro a {
    display: block;
    width: 100%;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    padding: 17px 0 15px 0;
    background-color: #2f80ed;
    color: #fff;
    border-radius: 5px;
}

/* 로그인 모달 창 */
.login-modal {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    min-width: 300px;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin: 100px auto;
}

.main {
    padding: 26px 23px 23px;
}

.header {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 19px 23px 18px;
    border-bottom: 1px solid #c4c4c4;
    background: url(../images/close.png) 480px no-repeat;
    background-size: 16px;
}

.txt-welcome {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 24px;
}

.id, .pw {
    width: 100%;
    height: 50px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 16px;
}

.id {
    margin-bottom: 10px;
}

.pw {
    margin-bottom: 16px;
}

.labl-remain {
    display: block;
    text-align: left;
    margin-bottom: 21px;
    cursor: pointer;
}

/* 버튼 가상요소 */
.labl-remain::before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    vertical-align: -5px;
    background-image: url("../images/check-box.png");
    background-size: 22px 22px;
    margin: 0 8px 0 4px;
}

.inp-remain:checked+.labl-remain::before {
    background-image: url("../images/check-box_on.png");
    background-size: 22px 22px;
}

.inp-remain:focus+.labl-remain::before {
    outline: 2px solid #2f80ed;
    outline-offset: 2px;
    border-radius: 50%;
    box-sizing: border-box;
}

.btn-login {
    display: block;
    width: 100%;
    padding: 14px 0;
    border: none;
    background-color: #2f80ed;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.join-find {
    display: flex;
    justify-content: center;

}

.find::before {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #767676;
    margin: 0 13px;
}

.join, .find {
    display: flex;
    font-size: 14px;
    height: 18px;
    margin-bottom: 30px;
    color: #767676;
}

.else {
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-size: 14px;
    height: 18px;
    gap: 13px;
    color: #767676;
    margin-bottom: 20px;
}

.else::before, .else::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #c4c4c4;
}

.else::before {
    left: 0;
}

.else::after {
    right: 0;
}

.login-other a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid #767676;
    padding: 11px 12px;
    background: url(../images/Google__G__Logo\ 1.png) 11px no-repeat;
    background-size: 28px;
    border-radius: 5px;
    color: #767676;
    margin-bottom: 10px;
}

.login-other a:nth-child(3) {
    background-image: url(../images/facebook.png);
    border: 1px solid #2D9CDB;
}

.login-other a:nth-child(4) {
    background-image: url(../images/naver-logo.png);
    border: 1px solid #00BF18;
}

.login-other a:nth-child(5) {
    background-image: url(../images/message-circle.png);
    border: 1px solid #F2C94C;
    margin-bottom: 0px;
}